.header{
    background-color: var(--sec-color);
}
.bg-btn{
    background-color: #1BBC9B;
}
.natur img{
    width: 450px;   
}
.natur-image{
    width: 100%;
    height: 450px;
    background-color: var(--sec-color);
    font-family: var(--sans-font);
}
.image img{
    width: 18px;
    height: 18px;
}
.counter{
    margin-top: 60px;
    font-family: var(--sans-font);
  }
  .timer a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color:var(--primary-color);
  }
  .timer a img{
    position: absolute;
    top:9px;
    left: 10px;
    width: 20px;
    height: 20px; 
  }
.time strong{
    line-height: 1;
    color:var(--black-color);
    display: block;
  }
.time span{
  font-weight: 600;
  font-size: 15px;
  color:grey;
}
.col-7 p{
     color: gray;
}
.adventure{
    font-family: var(--sans-font);
}
.adventure2{
    font-family: var(--sans-font);
}
/* map */
.mapbox {
    height: 450px;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #383838;
    margin-bottom: 30px;
}
.mapbox figure {
    height: 100%; 
}
.mapbox iframe {
    width: 100%;
    height: 100%;
} 
.map{
    font-family: var(--sans-font);
}
.map-title p{
    color: gray;
}

/* gallery */
.btn{
    padding: 10px 30px;
}
.img-line img{
    border-radius: 5%;
}
.page-btn{
    width: 33px;
    height: 31px;
    background-color: #434A54;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 60px;
}
.accordion{
    font-family: var(--sans-font);
}

.dream-img1{
    margin-top: 200px;
}

/* greece */

.banner-greece{
    background: rgba(0, 0, 0, 0.5) url('../image/Section\ \(3\).jpg');
    height: 530px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;background-blend-mode: darken;
}

.about-content span , .choose-your-trip span , .next-adventure-content span , .Adventure-travel-img-content span , .travel-package span , .discover-adventure span , .travel-blog span{
    font-size: 28px;
    font-family: var(--sans-serif-font);
    color: var(--primary-color);
}
.about-content h6 , .next-adventure-content h6 , .Adventure-travel-img-content h6 , .unforgatteable-content h6 , .travel-package h6 , .discover-adventure h6 , .travel-blog h6{
    font-size: 50px;
    font-family: var(--sans-font);
    font-weight: 600;
    color: var(--black-color);
}
.about-content p , .next-adventure-content p , .Adventure-travel-img-content p , .unforgatteable-content p , .travel-package p , .discover-adventure p , .travel-blog p{
    font-size: 16px;
    font-family: var(--sans-font);
    font-weight: 400;
    color: var(--content-color);
}
.discover-adventure h5{
    font-size: 16px;
    font-family: var(--sans-font);
    color: var(--content-color);
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 400;
}
.progress, .progress-stacked {
    --bs-progress-height: 0.20rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color:#6E6E6E;
    transition: var(--bs-progress-bar-transition);
}
/* prices */

.banner-prices{
    background-image: url(../image/Section\ \(5\).jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.package-card{
    background-color: #f2f2f2;
    border-radius: 10px;
}
.package-card h6 , .package-card span{
    font-size: 20px;
    font-family: var(--sans-font);
    color: var(--black-color);
}
.package-card h2{
    font-size: 80px;
    font-family: var(--sans-font);
    color: var(--black-color);
}
.package-card ul li{
    line-height:2;
}
.package-card ul li a{
    font-size: 16px;
    font-family: var(--sans-font);
    color: var(--content-color);
}
/* shop */
.Tours h6{
    font-size:40px;
    font-family: var(--sans-font);
    font-weight: 600;
    color: var(--black-color);
}
/* shop */
.banner-shop{
    background: rgba(0, 0, 0, 0.4)url(../image/Section\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
    height: 500px;
}
.shop{
    font-family: var(--sans-font);
}
/* contact-us */
.banner-contactus {
    background: rgba(0, 0, 0, 0.4)url(../image/contact-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
    height: 500px;
}
.all-contact{
    font-family: var(--sans-font);
}